--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
streamlit
pandas
plotly
folium
streamlit-folium
ultralytics
opencv-python-headless
psycopg2-binary
SQLAlchemy
requests
yt-dlp
openpyxl
bcrypt
easyocr